# Node server configuration
NODE_ENV=development
NODE_PORT=3000

# Database configuration
MONGO_ATLAS_URI=mongodb://localhost:27017/doctor-patient-chat?retryWrites=true&w=majority

#Auth Configuration
SALT_ROUNDS=10
AUTH_SECRET=sGYdUt3s8Ft5kWBxHRW0